@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,rgb(104, 6, 104),rgba(227, 143, 157, 0.966));
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.455) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: blueviolet;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(239, 106, 106, 0.716);

}

h2{
    color: rgb(250, 100, 125);
}
p{
    text-align: justify;
}


